body {
  /* background-color: rgb(250, 250, 250); */
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media(max-width: 1024px){
  .container{
    margin: 0 10%;
  }
  .image{
    width: 50%;
  }
}